@font-face { font-family: Gotham; src: url('fonts/Gotham-Bold.otf'); }
@font-face { font-family: Gotham; font-weight: bold; src: url('fonts/Gotham-Black.otf')}

body { 
    font-family: Gotham, sans-serif;
    color: #B10617;
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 5rem;
}
h1 {

    display: flex;
    font-size: 50px;
    color: black;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    border: 3px solid rgba(184, 51, 47);
    width: 50%;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
}
.marino-info-container {
    background-color: white;
    border: 3px solid #B10617;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
    padding-top: 10px;
    margin: auto;
    background-color: white;
    width: 100%
}
.squash-info-container {
  background-color: white;
  border: 3px solid #B10617;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
  padding-top: 10px;
  margin: auto;
  background-color: white;
  width: 100%
}
.marino-second-floor-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}
span {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    margin: auto;
    font-size: 30px;

    color: black;
    justify-content: center;
}

.marino-second-floor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-third-floor-cardio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-third-floor-cardio-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}

.marino-third-floor-weights {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-third-floor-weights-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}

.marino-gymnasium {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-gymnasium-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}

.bg-red {
  background-color: rgba(184, 51, 47);
}

.marino-info-container-clear {
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    width: 75%
}

.table-container {
    width: 100%;

    padding: 10px; 
}

.squash-busters-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}


.squash-fourth-floor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;
    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}


/* CSS Footer Template */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.navbar-left {
  margin-left: auto;
}

/* CSS Footer Template End */