@font-face { font-family: Gotham; src: url('fonts/Gotham-Bold.otf'); }
@font-face { font-family: Gotham; font-weight: bold; src: url('fonts/Gotham-Black.otf')}

body { 
    font-family: Gotham, sans-serif;
    color: #B10617;
    width: 100%;
    margin-top: 5rem;
}
h1 {
    
    display: flex;
    font-size: 50px;
    color: black;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    border: 3px solid #B10617;
    width: 50%;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 40px;
}
.marino-info-container {
    background-color: white;
    border: 3px solid #B10617;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
    padding-top: 10px;
    margin: auto;
    background-color: white;
    width: 100%
}
.marino-second-floor-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}
span {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    margin: auto;
    font-size: 30px;

    color: red;
    justify-content: center;
}

.marino-second-floor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-third-floor-cardio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-third-floor-cardio-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}

.marino-third-floor-weights {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-third-floor-weights-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}

.marino-gymnasium {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    color: #fff;
    width: 0;
    opacity: 0;
    font-size: 100%;

    background: linear-gradient(to right, #B10617, red); 
    transition: 1.5s;
}

.marino-gymnasium-container {
    margin: auto;
    background: black;
    border-radius: 20px;
    height: 50px;
    width: 75%;
}

.bg-red {
  background-color: #e0091b;
}

.marino-info-container-clear {
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    width: 75%
}

.table-container {
    width: 100%;
    background-color: white;
    padding: 10px; 
}