{% extends 'base.html' %}
{% block content %}




<div class="marino-info-container">

    <span>Marino Second Floor: </span>
    <div class="marino-second-floor-container">
        <div class="marino-second-floor" data-done="{{ context['Gym-Availability-Percentage']['Marino Center - 2nd Floor']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - 2nd Floor']  }}% Capacity
        </div>
    </div>
    <span>Marino Third Floor Cardio: </span>
    <div class="marino-third-floor-cardio-container">
        <div class="marino-third-floor-cardio" data-done="{{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Select & Cardio']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Select & Cardio']  }}% Capacity
        </div>
    </div>
    <span>Marino Third Floor Weights: </span>
    <div class="marino-third-floor-weights-container">
        <div class="marino-third-floor-weights" data-done="{{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Weight Room']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Weight Room']  }}% Capacity
        </div>
    </div>
    <span>Marino Gymnasium: </span>
    <div class="marino-gymnasium-container">
        <div class="marino-gymnasium" data-done="{{ context['Gym-Availability-Percentage']['Marino Center - Gymnasium']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - Gymnasium']  }}% Capacity
        </div>
    </div>



</div>





{% endblock %}