{% extends 'base.html' %}
{% block content %}


<div class="marino-info-container">

    <span>Marino Second Floor Capacity: </span>
    <div class="marino-second-floor-container">
        <div class="marino-second-floor"
             data-done="{{ context['Gym-Availability-Percentage']['Marino Center - 2nd Floor']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - 2nd Floor'] }}% 
        </div>
    </div>
    <span>Marino Third Floor Cardio Capacity: </span>
    <div class="marino-third-floor-cardio-container">
        <div class="marino-third-floor-cardio"
             data-done="{{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Select & Cardio']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Select & Cardio'] }}% 
        </div>
    </div>
    <span>Marino Third Floor Weights Capacity: </span>
    <div class="marino-third-floor-weights-container">
        <div class="marino-third-floor-weights"
             data-done="{{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Weight Room']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - 3rd Floor Weight Room'] }}% 
        </div>
    </div>
    <span>Marino Gymnasium Capacity: </span>
    <div class="marino-gymnasium-container">
        <div class="marino-gymnasium"
             data-done="{{ context['Gym-Availability-Percentage']['Marino Center - Gymnasium']  }}">
            {{ context['Gym-Availability-Percentage']['Marino Center - Gymnasium'] }}% 
        </div>
    </div>

</div>

<!--HOURS -->

<center><h1>Hours of Operation</h1></center>
<div class="marino-info-container-clear">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Days</th>
            <th scope="col">Hours</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ list_of_days[0] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[0]] }}</th>
        </tr>
        <tr>
            <th scope="row">{{ list_of_days[1] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[1]] }}</th>
        </tr>
        <tr>
            <th scope="row">{{ list_of_days[2] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[2]] }}</th>
        </tr>
        <tr>
            <th scope="row">{{ list_of_days[3] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[3]] }}</th>
        </tr>
        <tr>
            <th scope="row">{{ list_of_days[4] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[4]] }}</th>
        </tr>
        <tr>
            <th scope="row">{{ list_of_days[5] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[5]] }}</th>
        </tr>
        <tr>
            <th scope="row">{{ list_of_days[6] }}</th>
            <th scope="row">{{ context['operating-hours'][list_of_days[6]] }}</th>
        </tr>
        </tbody>
    </table>

</div>



{% endblock %}