{% extends 'base.html' %}
{% block content %}
<center><h1>Open Skate</h1></center>


<div class="table-container">

    <div class="marino-info-container-clear">
        <table class="table table-bordered table-striped table-hover">
            <thead>

<!--            If there are no events at all today-->
            {% if context["Events"]["Open Skate"] == "No Events Today" %}

            <h1> No Events Today... :( </h1>

<!--            If there are any events display them in the table-->
            {% else %}
            <tr>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Event Name</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>

            {% for key in context["Events"] %}

                {% if key == "Open Skate" %}
                            <tr>
                    {% for dictionary in context["Events"][key] %}
                        <th scope="row">{{ dictionary['Start Time'] }}</th>
                        <th scope="row">{{ dictionary['End Time'] }}</th>
                        <th scope="row">{{ dictionary['Event'] }} </th>
                        <th scope="row">{{ dictionary['Location'] }}</th>
                    </tr>
                    {% endfor %}


                {% else %}
                    {{ pass }}

                {% endif %}
            {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
</div>


{% endblock %}