{% extends 'base.html' %}
{% block content %}
<center><h1>Squashbusters</h1></center>
<div class="squash-info-container">
<span>SquashBusters Fourth Floor Capacity: </span>
    <div class="squash-busters-container">
        <div class="squash-fourth-floor"
             data-done="{{ context['Gym-Availability-Percentage']['SquashBusters - 4th Floor']  }}">
            {{ context['Gym-Availability-Percentage']['SquashBusters - 4th Floor'] }}%
        </div>
    </div>
</div>



<div class="table-container">
    <center><h1>Events</h1></center>
    <div class="marino-info-container-clear">
        <table class="table table-bordered table-striped table-hover">
            <thead>

<!--            If there are no events at all today-->
            {% if context["Events"]["Multipurpose Room & Squash Courts"] == "No Events Today" %}

            <h1> No Events Today... :( </h1>

<!--            If there are any events display them in the table-->
            {% else %}
            <tr>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Event Name</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>

            {% for key in context["Events"] %}

                {% if key == "Multipurpose Room & Squash Courts" %}
                            <tr>
                    {% for dictionary in context["Events"][key] %}
                        <th scope="row">{{ dictionary['Start Time'] }}</th>
                        <th scope="row">{{ dictionary['End Time'] }}</th>
                        <th scope="row">{{ dictionary['Event'] }} </th>
                        <th scope="row">{{ dictionary['Location'] }}</th>
                    </tr>
                    {% endfor %}


                {% else %}
                    {{ pass }}

                {% endif %}
            {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
</div>


<!--HOURS -->
<div class="table-container">
    <center><h1>Hours of Operation</h1></center>
    <div class="marino-info-container-clear">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Days</th>
                <th scope="col">Hours</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Sunday</th>
                <th scope="row">10:00am - 9:00pm</th>
            </tr>
            <tr>
                <th scope="row">Monday</th>
                <th scope="row">6:00am - 12:00am</th>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <th scope="row">6:00am - 12:00am</th>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <th scope="row">6:00am - 12:00am</th>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <th scope="row">6:00am - 12:00am</th>
            </tr>
            <tr>
                <th scope="row">Friday</th>
                <th scope="row">6:00am - 9:00pm</th>
            </tr>
            <tr>
                <th scope="row">Saturday</th>
                <th scope="row">8:00am - 9:00pm</th>
            </tr>
            </tbody>
        </table>

    </div>
</div>

{% endblock %}